* {
  box-sizing: border-box; }

body {
  background: grey;
  /*padding-bottom: 56px;*/
  color: black; }

.mainBox {
  background-color: white;
  width: 400px;
  height: auto;
  margin: auto;
  /*margin-top: 50px;
  margin-left: 450px;*/
  border: 1px solid black;
  display: -webkit-flex;
  display: flex;
  /*align-items: stretch;*/
  flex-direction: column;
  justify-content: space-between;
  /*padding-right: 100px;*/
}

.days{
  /*background-color: #e8eaed;*/
  background-color: white;
  border: none;
  border-bottom: 1px solid grey;

}

.weekdays ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #0dd261;
  position: relative;
}

.weekdays ul li { 
  display: inline; 
  position: relative;
}

.weekdays-selected::before {
  content: "\2022";
  color: inherit;
  position: absolute;
  top: 1px;
  right: 40px;
}

.currentDay {
  margin: auto;
}


.check{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.checkCircle {
  content: " "; // the circle itself is empty
  display: block;
  border: solid 0.8em #660a5e; // create a colored area...
  border-radius: .8em; // ... and turn it into a circle
  height: 0;
  width: 0;
  position: absolute; // the circle is then put into place
  left: 0.5em;
  top: 40%; 
  margin-top: -0.5em;
}

.checkMarkCircle {
  content: " ";
  display: block;
  width: 0.3em; // the short bar of the mark is half as long as the long bar
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0; // creates the inverted "L" shape
  position: absolute;
  left: 1em;
  top: 40%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg); // tilts the shape
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.greyText {
  color: grey;
  display: block;
}

.status{
  margin-bottom: 50px;
}

.actionCheck{
  margin-bottom: 120px;
  margin-top: 120px;
}

.footer{
  width: 400px;
  height: 50px;
  border-top: solid 1px grey;
}




