* {
  box-sizing: border-box; }

body {
  background: grey;
  color: black; }

.mainBox {
  background-color: white;
  width: 400px;
  height: auto;
  margin: auto;
  border: 1px solid black;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.days{
  /*background-color: #e8eaed;*/
  background-color: white;
  border: none;
  border-bottom: 1px solid grey;

}

.weekdays ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: #0dd261;
  position: relative;
}

.weekdays ul li { 
  display: inline; 
  position: relative;
}

.weekdays-selected::before {
  content: "\2022";
  color: inherit;
  position: absolute;
  top: 1px;
  right: 40px;
}

.weekdays-not-selected {

}

.activeDot {
  display: inline;
}

.currentDay {
  margin: auto;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}


.check{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.greyText {
  color: grey;
  display: block;
}

.status{
  margin-bottom: 50px;
}

.actionCheck{
  margin-bottom: 100px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
}

.fa-5x {
  font-size: 18em;
}

.footer{
  width: 400px;
  height: 50px;
  border-top: solid 1px grey;
  background-color: #e8eaed;
}




